@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Presentacion integrantes</h1>
    <img src="Imagenes/logo.jpg">
    <h2> Ver integrantes del grupo </h2>
    <div class="contenedor">
        @foreach(Integrante item in ViewBag.Grupo.Values)
        {
            
                <h3>
                <a href='@Url.Action("SelectIntegrante", "Home", new {DNI = item.GetDNI()})'> Ver info de @item.GetNombre()</a>  
                </h3>
            
        }
    </div>
</div>
